.header {
    display: flex;
    background-color: black;
    height: 8vh;
    align-items: center; 
    justify-content: flex-start;
}

.botoes {
    display: flex; 
    height: 3vh;
    margin-top: -1vh;
}

.botao {
    margin-left: 3vh;
    cursor: pointer;
    height: 4vh;
    width: 19vh;
    font-size: 2.1vh;
    border: white;
    white-space: nowrap;
}
