.carrossel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 90vh; 
    margin-left: 10vh;
}

.carrossel {
    display: flex;
    overflow: hidden;
    width: 100vh; 
    justify-content: space-between;
}

.carrossel-item {
    flex: 0 0 20vh;
    margin: 1vh;
}

button.prev, button.next {
    background-color: #ccc;
    border: none;
    padding: 1.5vh;
    cursor: pointer;
    position: absolute;
    top: 14vh;
    transform: translateY(-50%);
    z-index: 1;
}

button.prev {
    left: -4vh; 
    font-size: 2vh;
}

button.next {
    right: -8vh; 
    font-size: 2vh;
}

.foto{
    border: 0.5vh solid rgb(0, 0, 0);
    height: 50vh;
    width: 23vh !important;
}

.imagemFoto{
    width: 25vh;
    height: 25vh;
    cursor: pointer;
}

.dataFoto{
    color: white;
    font-size: 3vh;
    margin-top: 0vh;
}